#register-btn{
	color:#fff;
}

#register-btn:hover{
	color:#fff;
	text-decoration: none;
}

/* block register */
.block-register {
  width: 800px;
  margin: 50px auto 0px;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  animation: fadein 2s;
}
.block-register .block-register-logo {
  float: left;
  width: 100%;
  padding: 8px 10px;
  line-height: 30px;
  text-align: center;
}
.block-register .block-register-logo .logo {
  margin: 0px auto;
  float: none;
}
.block-register .block-register-content {
  background: #FFF;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  float: left;
  width: 100%;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 5px solid #465e74;
}
.block-register h1 {
  font-weight: 100;
  margin-bottom: 15px;
}
/* eof block register */

